*{ margin: 0;
padding: 0;}

/*@media only screen and (max-width: 600px) {}*/

/*************************************/
  /* CONFIGURACAO DO CORPO DA PAGINA */
body {
 
  align-items: center;
  background-color: #c5e0c2;
  margin: 0;
}



/*************************************/
  /* CONFIGURACAO DA ANIMACAO DE CARREGAMENTO*/
/*************************************/
.loading{
  
  background: rgba(0,0,0,0.5);
  position: fixed;
  color:#fff;
  width: 100%;
  height: 100%;
  top: 0;
}

.loading label{
  font-size: 32px;
}



/*************************************/
  /* CONFIGURACAO DO CABEÇARIO*/
/*************************************/

header {
  width: 100%;
  background-color: #313d4d;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

header button{
  width: auto;
}

.top_header{
  width: 100%;
  background-color: #ffffff;
}


.top_header .logo_img img{

  max-width: 210px;
  
}

#btn_sair{
background-color: transparent;
border: none;
font-weight: 100;
}

#btn_sair{
  cursor: pointer;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.top_header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.top_header .botoes_social button{
  width: 50px;
  height: 50px;
  font-size: 20pt;
  border-radius: 50%;
  background-color: rgb(20, 153, 38);
  border: 2px solid rgb(20, 153, 38);
  box-shadow: 2px 2px 2px;
  margin: 10px;
  color: white;

}

.bottom_header nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;


}

.bottom_header nav ul li a,#btn_sair{
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-decoration: none;
  font-family: Arial;
  font-size: 15pt;
}

.bottom_header nav ul li{
  padding: 5px 10px;
}

.bottom_header nav ul li:hover{
  background-color: #325685;
  color: black;
}

.titulo_pagina_cabecalho{
  font-size: 25pt;
  color: rgb(182, 12, 12);
  margin-top: 20px;
  text-transform:uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.sub_titulo_pagina_cabecalho{
  font-size: 15pt;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform:uppercase; 
}


/************************************************************/
  /* CONFIGURACAO DO TITULO DAS PAGINAS QUE NAO SÃO DO INDEX*/
/************************************************************/

.titulo_da_pagina{
 
    font-size: 15pt;
    width: 100%;
    padding: 10px;
    background-color: #8ace93;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    justify-self: center;
    text-align: center;
    
}

  button:active{
    opacity: 0.8;
  }
  
  button[disabled]{
    opacity: 0.7;
  }

  button.fab{
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: none;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgb(27, 27, 27);

  }
  button.fab.fixo{
    position: fixed;
  }

  button.fab.baixo{
    bottom: 34px;
  }

  button.fab.direita{
    right: 34px;
  }




/*******************************************/
  /* CONFIGURACAO DO FUNDO DOS FORMULARIOS*/
/******************************************/


.formulario{
  justify-self: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15pt;
  width: 350px;
  background-color: rgb(113, 153, 140);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

select{
  font-size: 15pt;
  
}

.formulario .formulario_margem_para_cada_elemento{
  margin-bottom: 20px;
  
  padding: 5px;
  border-radius: 2px;
}


.clear{
    background-color: transparent;
    border: none;
    color: rgb(65, 62, 62);
  }
  
  .solid{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
  }
  .outline{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(0, 0, 0);
  }
  .danger{
    color: red;
    border-color: red;
    display: none;
  }

.error{
    color: white;
    background-color: red;
    display: none;
  }



  input[type="text"],
  input[type="select"],
  input[type="number"],
  input[type="datetime-local"],
  button,input[type="email"],
  input[type="password"]{
    
    color: black;
    padding: 10px;
    font-size: 12pt;
    font-weight: 700;
    text-transform: uppercase;
    width: -webkit-fill-available;
  }

  



  footer{

    color: rgb(3, 3, 2);
    margin: 10px;
    justify-self: center;
    font-size: 10pt;
    

  }

.button_voltar{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 20px;
}

/***********************************************/
/*modelo da caixa de alerta*/
/************************************************/
/* Estilo do modal */


.item_nome_alert{
  color: rgb(243, 17, 17);
  text-transform: uppercase;
}
.alert_titulo{
  color: rgb(243, 17, 17);
  text-transform: uppercase;
}
.alert_informacao{
  color: rgb(165, 150, 19);
  text-transform: uppercase;
}
/* Estilo do modal */
.modal,.modal1,.modal2{
  display: none; /* Escondido por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}




/* Conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
}

/* Botão de fechar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo do campo de senha */
#passwordInput {
  
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo do botão de enviar */
#submitPassword {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submitPassword:hover {
  background-color: #45a049;
}






/* Estilo do botão de enviar */
#botao_deletar_id {
  padding: 10px 20px;
  background-color: #f80505;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

#botao_deletar_id:hover {
  background-color: #f75757;
}

/* Estilo do botão de enviar */
#botao_cancelar_id,#botao_ok_id {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

#botao_cancelar_id:hover,#botao_ok_id:hover  {
  background-color:#45a049;
}

