*{
    margin: 0;
    padding: 0;
}


body{

    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial";
    gap: 16px;
    
}

table{
    border-collapse: collapse;
    justify-self: center;
    width: 90%;
}
table td, table th{

    font-size: 10pt;
    align-content: center;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    
}




.card{
    
    background-color: #146b02;
    
    width: 100px;
    height: 100px;
    border-radius: 10px;

    
  
}



