*{
    margin: 0;
    padding: 0;
}

.cores{
    color: #6d1717;
}



.card{

    list-style-type: none;
    padding: 10px;
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 12px;
    text-transform:uppercase; 
    margin: 20px;
}


 
 .card img{
    background-color: #6d1717;
    border: 2px solid black;
    border-radius: 10px;    
    width: 100%;
    height: 40%;

 }

 .card .texto_titulo_card{
    font-family: "arial";
    color: #ffffff;
    font-weight:bold;
    background-color: #0d6919;
    padding: 5px;
   
    border-radius: 5px;
    text-align: center;
 }

 .card .texto_indicador{
   font-weight: 900;
   display: block;
   text-align: center;
   background-color: #9ebd77;
    font-family: "georgia";
    color: #000000;
    font: weight 0;;
    margin: 5px;
    
    
    
 }

 .card .texto_resultado{
   display: block;
   text-align: center;
    font-family: "arial";
    color: #050303;
    font: weight 0;;
    
    
 }

 .card p{
    margin-top: 5px;
    font-size: 12pt;
 }
 

 .ativo {
    background-color: #ca885b;

 }
 .desativado {
    background-color: #635656;

 }

 .falta {
    background-color: #1e4785;

 }

 .pausado {
    background-color: #b8ae28;

 }


 .card:hover{
    opacity: 0.9;
    
}
.card:hover button.danger{
    
    display: block;
}


#botao_cadastrar_novo_item_id{
   margin-top:15px;
   margin-bottom: 15px;
   border-radius: 10px;
   box-shadow: 2px 2px 3px;
   background-color: #ffffff;
}




.card .div_separador{
   font-family: "arial";
   color: #ffffff;
   background-color: #a04848;   padding: 3px;
display: flex;
justify-content: space-between;
   text-align: center;
}

.card .texto_roda_pe_indicador{
  color: #ffffff;
  font-weight: 900;
   }
.card .texto_roda_pe_resultado{
color: black
}
