*{
    margin: 0;
    padding: 0;
}


ol{

   display: flex ;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.cores{
    color: #6d1717;
}



.card{
    list-style-type: none;
    padding: 10px;
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 12px;
    text-transform:uppercase; 
    margin: 5px;
}


 .card .titulo_card{
    font-family: "arial";
    color: #ffffff;
    font-weight:bold;
    background-color: #6d1717;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
 }

 .card .texto_indicador_info{
    font-family: "georgia";
    color: #ffffff;
    font: weight 0;;
    
    
    
 }

 .card .info_item{
    font-family: "arial";
    color: #050303;
    font: weight 0;;
    
    
 }

 .card p{
    margin-top: 5px;
    
 }
 

 .ativo {
    background-color: #60a14d;

 }
 .desativado {
    background-color: #635656;

 }

 .falta {
    background-color: #1e4785;

 }

 .pausado {
    background-color: #b8ae28;

 }


 .card:hover{
    opacity: 0.9;
    
}


 .tempo_preparo{
  
    font-size: 18pt;
    text-align: center;
    
    
  

}

.retirada{

text-align: center;
   color: rgb(242, 242, 253);
   background-color: #821091;
   border: 1px solid black;
   border-radius: 5px;
   

}

.entrega{

   text-align: center;
      color: rgb(6, 6, 160);
      background-color: #1482a3;
      border: 1px solid black;
      border-radius: 5px;
      
   
   }

.observacao{
   color: rgb(119, 40, 40);
   font-weight: 900;
}

.item_infos{
   color: #050101;
font-weight: 900;
}