*{
    margin: 0;
    padding: 0;
}

.item_codigo_selecionado{
    background-color: rgb(131, 0, 0);
    color: rgb(255, 255, 255);
    width: auto;
    
    border: 1px solid black;
}

.item_selecionado {
    background-color: rgb(131, 0, 0);
    width: 100%;
    color: rgb(255, 255, 255);
    justify-self: center;
    text-align: center;
    border: 1px solid black;
}

.grupo_produto_selecionado{
    background-color: #8a5d36;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    
}

ul  {
    list-style-type: none;
    padding: 0;
}

.pesquisa li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    background-color: #218838;
    text-align: start;
}

#item_uid_principal_id{
    text-transform: none;
}