*{
    margin: 0;
    padding: 0;
}

.item_selecionado{
    background-color: rgb(131, 0, 0);
    width: 100%;
    color: rgb(255, 255, 255);
    justify-self: center;
    text-align: center;
    border: 1px solid black;
}

.grupo_produto_selecionado{
    background-color: #8a5d36;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    
}
.FORMULARIO_ADD_ITEM{
    border: 2PX solid black;
    background-color: #d3a67e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}