*{
    margin: 0;
    padding: 0;
}

.cores{
    color: #6d1717;
}
body{

    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial";
    gap: 16px;
    
}

table{
    border-collapse: collapse;
    justify-self: center;
    width: 90%;
}
table td, table th{

    font-size: 10pt;
    align-content: center;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    
}
caption{
    margin: 20px;
}


.evidente_destaque{
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25pt;
}
.evidente_destaque_1{
    color: #1900fa;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15pt;
}



.evidente{
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
}


.adicional{
color: rgb(196, 0, 0);
font-weight: 0;
}

.nome_item{
    color: rgb(0, 0, 0);
    font-weight: 0;
    font-weight: bold;
}

.obs{
    
    color: red;
    font-weight: 0;
}

.button_1{
    width: auto;   
    margin: 30px;
    font-weight: 900;    
    border-radius:  10px;
    
}

#opcao_retirada_id{
    display: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

#digite_endereco_id{
    display: none;
}


#botao_add_item_carrinho_id{
    margin-top:15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px;
    background-color: #ffffff;
}

.section_carrinho{
    background-color: rgb(113, 153, 140);
    border-radius: 5px;
    padding: 20px;
}

#label_troco_id{
    color: #0f5c0c;
    font-weight: 600;
    font-size: 18pt;
    

}